In [1]:
import pandas as pd
df_inp = pd.DataFrame({"col1":["438 673.4841918945312 1552924050927 ; 666 709.5 1552924050911 ;", "438 673.4841918945312 1552924050927 ; 666 709.5 1552924050911 ;","343 775.5 1552924084000 ; 460.4154052734375 669 1552924084020 ;"]})

In [2]:
df_inp

                                                col1
0  438 673.4841918945312 1552924050927 ; 666 709....
1  438 673.4841918945312 1552924050927 ; 666 709....
2  343 775.5 1552924084000 ; 460.4154052734375 66...

In [5]:
def expand_input(inp):
    return [x.strip().split(" ") for x in inp.split(";")]

pd.DataFrame([
    list_vars for x in df_inp["col1"].apply(expand_input).iteritems() for list_vars in x[1] if list_vars[0]
],  columns=["x","y","z"])

                   x                  y              z
0                438  673.4841918945312  1552924050927
1                666              709.5  1552924050911
2                438  673.4841918945312  1552924050927
3                666              709.5  1552924050911
4                343              775.5  1552924084000
5  460.4154052734375                669  1552924084020

In [44]:
source = [4,2]
for i in range(len(source)):
    mini = min(source[i:]) #find minimum element
    min_index = source[i:].index(mini) #find index of minimum element
    #print (min_index)
    source[i + min_index] = source[i] #replace element at min_index with first element
    source[i] = mini   #replace first element with min element
print (source)

[2, 4]

In [45]:
arr = [5,4,3,1,6,8,10,9] # array not sorted

for i in range(len(arr)):
    for j in range(i, len(arr)):
        if(arr[i] > arr[j]):
            arr[i], arr[j] = arr[j], arr[i]

            print (arr)

[4, 5, 3, 1, 6, 8, 10, 9]
[3, 5, 4, 1, 6, 8, 10, 9]
[1, 5, 4, 3, 6, 8, 10, 9]
[1, 4, 5, 3, 6, 8, 10, 9]
[1, 3, 5, 4, 6, 8, 10, 9]
[1, 3, 4, 5, 6, 8, 10, 9]
[1, 3, 4, 5, 6, 8, 9, 10]

In [56]:
#nums = [5,4,3,1,6,8,10,9]
#nums = [5,4,3,1,6,8]
nums = [4,2,1,10,5,3,100]
def sort(nums):
    for i in range(len(nums)-1):
        miniposition = i
        for j in range(i,len(nums)):
            if nums[j] < nums[miniposition]:
                miniposition = j
        temp = nums[i]
        nums[i] = nums[miniposition]
        nums[miniposition] = temp
        print (nums)
sort(nums)
#print (nums)

[1, 2, 4, 10, 5, 3, 100]
[1, 2, 4, 10, 5, 3, 100]
[1, 2, 3, 10, 5, 4, 100]
[1, 2, 3, 4, 5, 10, 100]
[1, 2, 3, 4, 5, 10, 100]
[1, 2, 3, 4, 5, 10, 100]

In [83]:
def word_split(phrase,list_of_words, output = None):
    if output is None:
        output = []
    for word in list_of_words:
        if phrase.startswith(word):
            output.append(word)
            return word_split(phrase[len(word):],list_of_words,output)
    return output
word_split('ilovedogsJohn',['am','i','dogs','love','John'])

['i', 'love', 'dogs', 'John']

In [90]:
def backward(text):
    if text == "":
        return text
    else:
        return  text[-1] + backward(text[:-1])
backward('helo d')

'd oleh'

In [92]:
from collections import defaultdict
import re

d = [
    {'name': 'a', 'num': '9134567890','num2':'912311111'},
    {'name': 'd', 'num': '9134567890','num2':'5151'},
    {'name': 'b', 'num': '0134567890','num2':'51'},
    {'name': 'c', 'num': '9034567890','num2':'12'},
    {'name': 'm', 'num': '9034590','num2':'13'}
]

# regular expression
rx = re.compile(r'^(?=\d{10}$)(?P<local>91.+)|(?P<global>01.+)|(?P<others>.+)')

# output dict
output = defaultdict(list)

# list comprehension
_ = [output[key].append(m[key])
     for item in d
     for m in [rx.search(item["num"])] if m
     for key in m.groupdict() if m[key]]

print(dict(output))

{'local': ['9134567890', '9134567890'], 'global': ['0134567890'], 'others': ['9034567890', '9034590']}

In [98]:
ls = [int(x) for x in input().split()]
n = ls[0]
k = ls[1]
queries = ls[2]
array = [int(x) for x in input().split()]
result = []
for q in range(queries):
    q = int(input())
    result.append(array[q-k % n])
for e in result:
    print(e)

3 2 3
1 2 3
0
1
2
2
3
1

In [97]:
def circularArrayRotation(a, k, queries):
    a = a[-k:] + a[:-k]
    return [a[i] for i in queries]

In [102]:
from itertools import permutations
perms = [''.join(p) for p in permutations('abc')]
perms

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [115]:
s = 'abc'
lst = list(s)
for x in range(0,len(lst)):
    lst =  lst[-x:] + lst[:-x]
    print (lst)

['a', 'b', 'c']
['c', 'a', 'b']
['a', 'b', 'c']

In [1]:
import collections 
  
# Declaring namedtuple() 
Student = collections.namedtuple('Student',['name','age','DOB']) 
  
# Adding values 
S = Student('Nandini','19','2541997') 
  
# initializing iterable  
li = ['Manjeet', '19', '411997' ] 
  
# initializing dict 
di = { 'name' : "Nikhil", 'age' : 19 , 'DOB' : '1391997' }

In [3]:
# using _make() to return namedtuple() 
print ("The namedtuple instance using iterable is  : ") 
print (Student._make(li)) 
  
# using _asdict() to return an OrderedDict() 
print ("The OrderedDict instance using namedtuple is  : ") 
print (S._asdict()) 
  
# using ** operator to return namedtuple from dictionary 
print ("The namedtuple instance from dict is  : ") 
print (Student(**di))

The namedtuple instance using iterable is  :
Student(name='Manjeet', age='19', DOB='411997')
The OrderedDict instance using namedtuple is  :
OrderedDict([('name', 'Nandini'), ('age', '19'), ('DOB', '2541997')])
The namedtuple instance from dict is  :
Student(name='Nikhil', age=19, DOB='1391997')

In [11]:
my = {'Sudent':{ 'name' : "Nikhil", 'age' : 30 , 'DOB' : '1391989' } }
for i,j in my.items():
    print (j['name'])

Nikhil

In [16]:
import re

s = 'A boy is 31 and girl is 22.'
print(re.findall(r'\S+(?=\s+is\b)', s))

['boy', 'girl']

In [27]:
list_ = re.findall(r'(\S+)\s+is\s+(\d+)', s)
list_

[('boy', '31'), ('girl', '22')]

In [36]:
dict((x, y) for x, y in list_)

{'boy': '31', 'girl': '22'}

In [40]:
lines = "hello 12 hi 89"
import re
output = []
line = lines.split()
for word in line:
        match = re.search(r'\d+', word)
        if match:
            output.append(int(match.group()))
print (output)

[12, 89]

In [41]:
print ('foo' * 3)

foofoofoo

In [62]:
def fizzBuzz(n):
    # Write your code here
    for i in range(1,n+1):
        if i % 3 == 0 and i % 5 != 0:
            print ('Fizz')
        elif i % 5 != 0 and i % 3 != 0:
            print (i)
        elif i % 5 == 0 and i % 3 != 0:
            print ('Buzz') 
        else:# i % 3 == 0 and i % 5 == 0:
            print ('FizzBuzz')
        
if __name__ == '__main__':
    n = int(input().strip())
    fizzBuzz(n)

15
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [64]:
def foo(n):
    for x in range(n):
        yield x**3

for x in foo(5):
    print (x,)

0
1
8
27
64

In [65]:
b = [0,1,2,3,4,5,6,7,8,9]
print(b[::3])

[0, 3, 6, 9]

In [67]:
a = 0
for b in range(0,10,2):
    a += b +1
a

25

In [1]:
import pandas as pd

In [2]:
students = [('jack', 34, 'Sydeny'),
            ('Riti', 30, 'Delhi'),
            ('Aadi', 16, 'New York'),
            ('Riti', 30, 'Delhi'),
            ('Riti', 30, 'Delhi'),
            ('Riti', 30, 'Mumbai'),
            ('Aadi', 40, 'London'),
            ('Sachin', 30, 'Delhi')
            ]
 
# Create a DataFrame object
dfObj = pd.DataFrame(students, columns=['Name', 'Age', 'City'])

In [3]:
dfObj

     Name  Age      City
0    jack   34    Sydeny
1    Riti   30     Delhi
2    Aadi   16  New York
3    Riti   30     Delhi
4    Riti   30     Delhi
5    Riti   30    Mumbai
6    Aadi   40    London
7  Sachin   30     Delhi

In [4]:
duplicateRowsDF = dfObj[dfObj.duplicated()]

In [5]:
duplicateRowsDF

   Name  Age   City
3  Riti   30  Delhi
4  Riti   30  Delhi

In [11]:
IP = [('192.168.1.1'),
      ('192.168.1.1'),
      ('192.168.1.2'),
      ('192.168.1.3')]

In [12]:
dfIP = pd.DataFrame(IP, columns=['IP'])

In [13]:
dfIP

            IP
0  192.168.1.1
1  192.168.1.1
2  192.168.1.2
3  192.168.1.3

In [16]:
dfIPdup = dfIP[dfIP.duplicated()]

In [17]:
dfIPdup

            IP
1  192.168.1.1

In [19]:
import pandas as pd
import numpy as np

df = dfIP#pd.read_csv('input.csv')
df['un_dup'] = np.where(df['IP'].duplicated(keep=False),'duplicate', 'unique')

print(df)

            IP     un_dup
0  192.168.1.1  duplicate
1  192.168.1.1  duplicate
2  192.168.1.2     unique
3  192.168.1.3     unique

In [27]:
Name = [('Hello'),
      ('Spider'),
      ('Captain'),
      ('Superman'),
       ('Hello'),
       ('Superman')]
dfName = pd.DataFrame(Name, columns=['Name'])
dfNamedup = dfName[dfName.duplicated()]
dfName

       Name
0     Hello
1    Spider
2   Captain
3  Superman
4     Hello
5  Superman

In [38]:
dfName['un_dup_hel'] = np.where(dfName['Name'].duplicated(keep='first'),'duplicate', 'unique')
dfName

       Name un_dup_hel  bool
0     Hello     unique     0
1    Spider     unique     1
2   Captain     unique     1
3  Superman     unique     0
4     Hello  duplicate     0
5  Superman  duplicate     0

In [34]:
def boole(x):
    if x == 'duplicate':
        return 0
    return 1

In [36]:
dfName['bool'] = dfName['un_dup_hel'].apply(boole)
dfName

       Name un_dup_hel  bool
0     Hello  duplicate     0
1    Spider     unique     1
2   Captain     unique     1
3  Superman  duplicate     0
4     Hello  duplicate     0
5  Superman  duplicate     0

In [39]:
list1 = ['a','b','c_1','d_1']
s = '''d2234 d45564 d223098 d50923 PETY_354_d3456 d76533
d2635 PETY_354 d88593 d324623 HUI_6478_d3553d35626'''

In [41]:
d = s.split(' ')

In [43]:
for i in d:
    s = i.split('_')
    print (s)

['d2234']
['d45564']
['d223098']
['d50923']
['PETY', '354', 'd3456']
['d76533\nd2635']
['PETY', '354']
['d88593']
['d324623']
['HUI', '6478', 'd3553d35626']

In [50]:
import re
file = r'C:\Users\makka\Desktop\file.txt'
list1 = ['hi','of','wonderw']
pattern = r''
for i in list1:
    pattern = re.compile(i, re.IGNORECASE)
    with open(file,'r') as f:
        content = f.read()
        test= re.search(pattern,content)
        print (test)

<re.Match object; span=(5, 7), match='hi'>
<re.Match object; span=(28, 30), match='of'>
None

In [52]:
content = ''
lst =  ['hi','world','of']

with open(file, 'r') as file_handler:
    content = file_handler.read()

result = re.findall('|'.join(lst), content)

In [53]:
result

['hi', 'world', 'of']

In [74]:
import csv

with open(r'C:\Users\makka\Desktop\file.csv', "r", encoding='utf-8') as f:
    reader = csv.reader(f)
    your_list = [e[0].strip().split(",")[0] for e in reader if e]
your_list[1:]

['192.168.1.1', '192.168.1.1', '192.168.1.2', '192.168.1.3']

In [75]:
import csv

with open(r'C:\Users\makka\Desktop\file1.csv', "r", encoding='utf-8') as f:
    reader = csv.reader(f)
    your_list = [e[0].strip().split(",")[0] for e in reader if e]
your_list[1:]

['LOI_3456', 'HUI_6478', 'PETY_3564Bacteria1']

In [102]:
s = '''d2234 d45564 d223098 d50923 PETY_354_d3456 d76533
d2635 PETY_354 d88593 d324623 HUI_6478_d3553d35626'''
s.replace(' ','')

'd2234d45564d223098d50923PETY_354_d3456d76533\nd2635PETY_354d88593d324623HUI_6478_d3553d35626'

In [79]:
import string
s.translate({ord(c): None for c in string.whitespace})

'd2234d45564d223098d50923PETY_354_d3456d76533d2635PETY_354d88593d324623HUI_6478_d3553d35626'

In [80]:
result = re.findall('|'.join(your_list[1:]), s.translate({ord(c): None for c in string.whitespace}))

In [81]:
result

['HUI_6478']

In [83]:
import numpy as np  
      
# 1D array  
arr = [1,2,3,4,5]  
  
print("arr : ", arr)  
print("var of arr : ", np.var(arr))  
  
print("\nvar of arr : ", np.var(arr, dtype = np.float32))  
print("\nvar of arr : ", np.var(arr, dtype = np.float64))

arr :  [1, 2, 3, 4, 5]
var of arr :  2.0

var of arr :  2.0

var of arr :  2.0

In [110]:
s = '''  Hello  World 
\t\n\r\tHi '''

print('Remove all spaces using RegEx:\n', re.sub(r"\s+", "", s), sep='')  # \s matches all white spaces
# print('Remove leading spaces using RegEx:\n', re.sub(r"^\s+", "", s), sep='')  # ^ matches start
# print('Remove trailing spaces using RegEx:\n', re.sub(r"\s+$", "", s), sep='')  # $ matches end
#print('Remove leading and trailing spaces using RegEx:\n', re.sub(r"^\s+|\s+$", "", s), sep='')  # | for OR condition

Remove all spaces using RegEx:
HelloWorldHi

In [111]:
s

'  Hello  World \n\t\n\r\tHi '

In [115]:
s.replace('\n', '').replace('\t','').replace('\r','')

'  Hello  World Hi '

In [117]:
regex = re.compile(r'[\n\r\t]')
regex.sub("", s)

'  Hello  World Hi '

In [124]:
import string

In [125]:
dict = {"a": "123", "b": "456", "c": "789"}
string = "abc"
print(string.maketrans(dict))

{97: '123', 98: '456', 99: '789'}

In [145]:
d1 = {'product': '8', 'order': '8', 'tracking': '3'}
d2 = {'order': 1, 'product': 1,'customer':'5'}
dict3 = { k: [ d1[k], d2[k] ] if k in d2 else [d1[k]] for k in d1 }

In [146]:
dict3

{'product': ['8', 1], 'order': ['8', 1], 'tracking': ['3']}

In [153]:
{k: [d[k] for d in (d1, d2) if k in d] for k in set(d1) | set(d2)}

{'product': ['8', 1], 'tracking': ['3'], 'order': ['8', 1], 'customer': ['5']}

In [163]:
for d in (d1,d2):
    print (d)

{'product': '8', 'order': '8', 'tracking': '3'}
{'order': 1, 'product': 1, 'customer': '5'}

In [165]:
from collections import defaultdict
res = defaultdict(list)
for key, value in d1.items():
    res[key].append(value)

for key, value in d2.items():
    res[key].append(value)
res

defaultdict(list,
            {'product': ['8', 1],
             'order': ['8', 1],
             'tracking': ['3'],
             'customer': ['5']})

In [166]:
for k in list(d1.keys()) + list(d2.keys()):
    print (k)

product
order
tracking
order
product
customer

In [171]:
d3 = {
    k: [d1[k], d2[k]]
    if (k in d1 and k in d2)
    else [d1[k]]
    if k in d1
    else [d2[k]]
    for k in set(d1) | set(d2)
}
d3

{'product': ['8', 1], 'tracking': ['3'], 'order': ['8', 1], 'customer': ['5']}

In [174]:
tuples = (1, 2), (1, 3), (2, 3)  
from collections import defaultdict
dic = defaultdict(list)
for i, j in tuples:
    dic[i].append(j)
dic

defaultdict(list, {1: [2, 3], 2: [3]})

In [179]:
a, b = {1:[2, 3], 2:[3]}, {1:[4], 3:[1]}
de = defaultdict(list,a)
for i, j in b.items():
    de[i].extend(j)
de

defaultdict(list, {1: [2, 3, 4], 2: [3], 3: [1]})

In [180]:
lis = [d1,d2]
lis

[{'product': '8', 'order': '8', 'tracking': '3'},
 {'order': 1, 'product': 1, 'customer': '5'}]

In [191]:
dict3 = {k: [d1[k], d2[k]] if k in d1 and k in d2 else [d1[k]] if k in d1 else [d2[k]] for i in [d1,d2] for k in i }
dict3

{'product': ['8', 1], 'order': ['8', 1], 'tracking': ['3'], 'customer': ['5']}

In [205]:
list_ = []
for i in [d1, d2]:
    list_.append(i)
#     for k in i:
#         print (k)
list_

[{'product': '8', 'order': '8', 'tracking': '3'},
 {'order': 1, 'product': 1, 'customer': '5'}]

In [208]:
dict_={}
for d in list_:
    for k,v in d.items():
        dict_.setdefault(k,[]).append(v)
dict_

{'product': ['8', 1], 'order': ['8', 1], 'tracking': ['3'], 'customer': ['5']}

In [212]:
combined_key = {key for d in list_ for key in d}
combined_key

{'customer', 'order', 'product', 'tracking'}

In [216]:
super_dict = {key:[d[key] for d in list_ if key in d] for key in combined_key}
super_dict

{'customer': ['5'], 'tracking': ['3'], 'order': ['8', 1], 'product': ['8', 1]}

In [201]:
dictio =[{'key1':'value1'}, {'key1':'value2'}, {'key1':'value3'}, {'key2':'value4'}, {'key2':'value5'}]
for k in set().union(*dictio):
    print (k)

key2
key1

In [210]:
combined_key_set= {key for d in dictio for key in d}
su_di = {key : [d[key] for d in dictio if key in d] for key in combined_key_set}
su_di

{'key2': ['value4', 'value5'], 'key1': ['value1', 'value2', 'value3']}

In [217]:
list_

[{'product': '8', 'order': '8', 'tracking': '3'},
 {'order': 1, 'product': 1, 'customer': '5'}]

In [221]:
{key : [d[key] for d in dictio if key in d] for key in  [key for d in dictio for key in d]}

{'key1': ['value1', 'value2', 'value3'], 'key2': ['value4', 'value5']}

In [245]:
%%file ex15.py
from sys import argv
script, user_name = argv
prompt = '> '
print ("Hi %s, I'm the %s script." % (user_name, script))
print ("I'd like to ask you a few questions.")
print ("Do you like me %s?" % user_name)
likes = (input(prompt))
print ("Where do you live %s?" % user_name)
lives = input(prompt)
print ("What kind of computer do you have?")
computer = input(prompt)

Overwriting ex15.py

In [246]:
%%!
python ex15.py mak

["Hi mak, I'm the ex15.py script.",
 "I'd like to ask you a few questions.",
 'Do you like me mak?',
 '> Traceback (most recent call last):',
 '  File "ex15.py", line 7, in <module>',
 '    likes = (input(prompt))',
 'EOFError: EOF when reading a line']

In [253]:
#max_val with out inbuilt function
def max_l(l):
    max_val = l[0]
    for i in l:
        if (i > max_val):
            max_val = i
    return max_val
l = [1,2,3,44,2,44,45]
x = max_l(l)
x

45

In [254]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    Person.__init__(self, fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

In [257]:
items_ = ['abc', '123', '!@#']
items = map(lambda x: x + '\n', items_)
items_

['abc', '123', '!@#']

In [258]:
def plusMinus():
    n = float(input())
    lst = [int(x) for x in input().split()]
    return (format(len([x for x in lst if x > 0])/n, ".6f")), (format(len([x for x in lst if x < 0])/n, ".6f")), (format(len([x for x in lst if x == 0])/n, ".6f"))
plusMinus()

1
-1

('0.000000', '1.000000', '0.000000')

In [264]:
n = float(input())
lst = [int(x) for x in input().split()]
print ('positve %', format(len([x for x in lst if x > 0])/n, ".6f"))
print ('negative %',format(len([x for x in lst if x < 0])/n, ".6f"))
print ('zero %',format(len([x for x in lst if x == 0])/n, ".6f"))

3
0 0 0
positve % 0.000000
negative % 0.000000
zero % 1.000000

In [268]:
A= [-2,1,2]
for i in range(len(A)-1):
    for j in range(i+1, len(A)):
        print (j)

1
2
2