In [1]:
#problem statements
# 1. date and time from a log file
# 2. get valid e-mail ids from a list of e-mail ids
# 3. get valid phone numbers from a list phone numbers with country
# 4. replace a value with another value in a bunch of data

#note:  regex is compactable with other languages also (like c, java, etc)

In [2]:
import re

In [3]:
Nameage = '''
Janice is 22 and Theon is 33 
Gabriel is 44 and Joey is 31
'''

In [4]:
ages = re.findall(r'\d{1,3}', Nameage)
names = re.findall(r'[A-Z][a-z]*', Nameage)

In [5]:
agedict = {}
x = 0

In [6]:
for name in names:
    agedict[name] = ages[x]
    x = x+1
    
print(agedict)

{'Janice': '22', 'Theon': '33', 'Gabriel': '44', 'Joey': '31'}

# Find a word in a centance

In [7]:
string1 = "we need to inform him with the latest information"
# find 'inform'

In [8]:
if re.search('inform', string1):
    print("There is inform in bthe mentioned string")
else:
    print("No word inform in the provided string")

There is inform in bthe mentioned string

In [9]:
# to find all matching words
allinform = re.findall("inform", string1)

for i in allinform:
    print(i)

inform
inform

# To generate an iterator

In [10]:
string2 = "we need to inform him with the latest information"

In [11]:
for i in re.finditer("inform", string2):
    tuple1 = i.span()
    print(tuple1)
#print the starting and ending positions of the word finding

(11, 17)
(38, 44)

# To match one of several letters

In [12]:
string3 = 'Sat, hat, mat, pat, word, love'
#need to match anything ends with 'at'

In [13]:
allstring = re.findall('[Shmp]at', string3)

for i in allstring:
    print(i)

#regs searches are case sensitive

Sat
hat
mat
pat

In [14]:
#method2
allstring2 = re.findall('[A-Za-z]at', string3)

for i in allstring2:
    print(i)

Sat
hat
mat
pat

# Match series of range of characters

In [15]:
#need to find all letters which starts with letters between h to m and ends with 'at'
string3 = 'Sat, hat, mat, pat, word, love, Hat'

In [16]:
sel_string = re.findall('[H-Mh-m]at', string3)
for i in sel_string:
    print(i)

hat
mat
Hat

In [17]:
sel_string

['hat', 'mat', 'Hat']

In [18]:
#to print words starts with H-M or h-m and ends with anything
sel_string2 = re.findall('[H-Mh-m]\w+', string3)
for i in sel_string2:
    print(i)

print(sel_string2)

hat
mat
love
Hat
['hat', 'mat', 'love', 'Hat']

In [19]:
# to print words except starts with H-M or h-m and ends with anything
# sel_string2 = re.findall('[^H-Mh-m]\w+', string3)
# for i in sel_string2:
#     print(i)

# print(sel_string2)

# To replace a string

In [20]:
string4 = 'hat rat mat pat'
#replace rat with food

In [21]:
repl_str = re.compile('rat')
string4 = repl_str.sub('food', string4)
print(string4)

hat food mat pat

In [22]:
string5 = 'giri do not want to go to school. because he does not know anyone in the school'
#remplace school with play-school

In [23]:
repl_str2 = re.compile('school')
string5 = repl_str2.sub('play-school', string5)
print(string5)

giri do not want to go to play-school. because he does not know anyone in the play-school

# Deling with backslash problem

In [24]:
rand_str = 'here is \\drogba'
print(rand_str)
#even though we have two \ characters it is printing only 1

here is \drogba

In [25]:
print(re.search(r'\\drogba', rand_str))
#search method can find it

<re.Match object; span=(8, 15), match='\\drogba'>

# To deal with blank spaces

In [26]:
rand_str = '''
Keep the blue flag
flying high
Chelsea'''
print(rand_str)  # its a multi line string

Keep the blue flag
flying high
Chelsea

In [27]:
repl_str = re.compile('\n')
rand_str = repl_str.sub(' ', rand_str)  # next lines replaced with spaces
print(rand_str)

 Keep the blue flag flying high Chelsea

# Deal with numbers

In [28]:
# to deal with backslash (\b), formfeed(\f), carriage return(\r), tab(\t), vertical tab(\v)
rand_str2 = '12345'
print('Matches:', len(re.findall('\d', rand_str2))) # \d to match any number
print('Matches:', len(re.findall('\D', rand_str2))) # \D will match anything except number

Matches: 5
Matches: 0

In [29]:
print('Matches:', len(re.findall('\d{5}', rand_str2)))  # matches 1 digit '5'

Matches: 1

In [30]:
num = '123 1234 12345 123456 1234567'
# to find occurance in range 5 to 7

In [31]:
print('Marches : ', re.findall('\d{5,7}', num))
print('Marches : ', len(re.findall('\d{5,7}', num)))  # \d{5,7} dearches digits 5 or 56 or 567

Marches :  ['12345', '123456', '1234567']
Marches :  3

# Phone number verification

In [32]:
# sample 444-122-1234
# format is 3 digits, - sign, 3 gits, - sign, 4 digits

In [33]:
# Note:-
#  \w refers to [a-zA-Z0-9_]
#  \W refers to [^a-zA-Z0-9]

In [34]:
phone = '412-555-1212'
if re.search('\d{3}-\d{3}-\d{4}', phone):
    print('it is a valid phone number')
else:
    print('it is not a valid phone number')

it is a valid phone number

In [35]:
phone = '412-5551-1212'
if re.search('\d{3}-\d{3}-\d{4}', phone):
    print('it is a valid phone number')
else:
    print('it is not a valid phone number')

it is not a valid phone number

# To check if names is a valid name

In [36]:
#Note:-
#  \s represennts all spaces [\f\n\r\t\v]
#  \S represents all except spaces [^\f\n\r\t\v]

In [37]:
name1 = 'Mark Samuel'
if re.search('\w{2,20}\s\w{2,20}', name1):
    print("%s is a valid name"%name1)
else:
    print("%s is not a valid name"%name1)

Mark Samuel is a valid name

In [38]:
name1 = 'sreerajva5@gmail.com'
if re.search('\w{2,20}\s\w{2,20}', name1):
    print("%s is a valid name"%name1)
else:
    print("%s is not a valid name"%name1)

sreerajva5@gmail.com is not a valid name

# To check if e-mail id is valid

In [39]:
# Note:- to check if e-mail id is valid
# 1. one to 20 lower or uppercase letters, numbers plus ._%+-
# 2. an @ symbol
# 3. 2 to 20 lower or uppercase letters, numbers plus .-
# 4. A period
# 5. 2 to 3 lowercase and uppercase letters

In [40]:
email = 'sk@aol.com  md@.com @seo.com dc@.com'
valid = re.findall('[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}', email)
count = len(valid)
print("%d email are valid and shown below" %count)
print(valid)

1 email are valid and shown below
['sk@aol.com']

# Web scrapping

In [41]:
import urllib.request
import re

In [42]:
url = 'http://www.summet.com/dmsi/html/codesamples/addresses.html'
response = urllib.request.urlopen(url)
html = response.read()
# print(html)
htmlstr = html.decode()
# print(htmlstr)

In [43]:
phone_numbers = re.findall('\(\d{3}\) \d{3}-\d{4}', htmlstr)
#print(phone_numbers)
# names = re.findall('\w{2,20}\s\w{2,20}', htmlstr)
print(len(phone_numbers))
# print(len(names))

100

In [44]:
post_box = re.findall('\d{5}', htmlstr)
print(len(post_box))

100

In [45]:
import pandas as pd

In [46]:
dict1 = {post_box[n]:phone_numbers[n] for n in range(len(post_box))}
#print(dict1)
df1 = pd.DataFrame(dict1, index = [0])
df2 = df1.T
df2.head()

                    0
96522  (257) 563-7401
20620  (372) 587-2335
11523  (786) 713-8616
39531  (793) 151-6230
47096  (492) 709-6392

In [47]:
datafr = pd.DataFrame(list(dict1.items()), columns=['pin', 'phone'])
datafr.head()

     pin           phone
0  96522  (257) 563-7401
1  20620  (372) 587-2335
2  11523  (786) 713-8616
3  39531  (793) 151-6230
4  47096  (492) 709-6392

In [49]:
list(dict1.items())

[('96522', '(257) 563-7401'),
 ('20620', '(372) 587-2335'),
 ('11523', '(786) 713-8616'),
 ('39531', '(793) 151-6230'),
 ('47096', '(492) 709-6392'),
 ('10855', '(654) 393-5734'),
 ('08219', '(404) 960-3807'),
 ('12482', '(314) 244-6306'),
 ('67708', '(947) 278-5929'),
 ('98804', '(684) 579-1879'),
 ('69409', '(389) 737-2852'),
 ('24975', '(660) 663-4518'),
 ('38100', '(608) 265-2215'),
 ('45149', '(959) 119-8364'),
 ('49854', '(468) 353-2641'),
 ('19253', '(248) 675-4007'),
 ('02913', '(939) 353-1107'),
 ('09289', '(570) 873-7090'),
 ('93373', '(302) 259-2375'),
 ('20783', '(717) 450-4729'),
 ('90255', '(453) 391-4650'),
 ('37547', '(559) 104-5475'),
 ('48432', '(387) 142-9434'),
 ('58563', '(516) 745-4496'),
 ('93479', '(326) 677-3419'),
 ('30309', '(746) 679-2470'),
 ('51324', '(455) 430-0989'),
 ('92358', '(490) 936-4694'),
 ('19759', '(985) 834-8285'),
 ('55797', '(662) 661-1446'),
 ('37232', '(802) 668-8240'),
 ('50654', '(477) 768-9247'),
 ('31626', '(791) 239-9057'),
 ('43526', '(832) 109-0213'),
 ('95302', '(837) 196-3274'),
 ('29738', '(268) 442-2428'),
 ('54886', '(850) 676-5117'),
 ('77373', '(861) 546-5032'),
 ('11292', '(176) 805-4108'),
 ('73585', '(715) 912-6931'),
 ('87535', '(993) 554-0563'),
 ('77382', '(357) 616-5411'),
 ('35282', '(121) 347-0086'),
 ('82776', '(304) 506-6314'),
 ('92508', '(425) 288-2332'),
 ('85794', '(145) 987-4962'),
 ('19408', '(187) 582-9707'),
 ('08609', '(750) 558-3965'),
 ('31522', '(492) 467-3131'),
 ('58521', '(774) 914-2510'),
 ('81202', '(888) 106-8550'),
 ('10626', '(539) 567-3573'),
 ('58520', '(693) 337-2849'),
 ('57692', '(545) 604-9386'),
 ('04645', '(221) 156-5026'),
 ('26278', '(414) 876-0865'),
 ('69679', '(932) 726-8645'),
 ('03869', '(726) 710-9826'),
 ('55246', '(622) 594-1662'),
 ('87323', '(948) 600-8503'),
 ('84872', '(605) 900-7508'),
 ('41329', '(716) 977-5775'),
 ('30135', '(368) 239-8275'),
 ('99602', '(725) 342-0650'),
 ('91750', '(711) 993-5187'),
 ('76865', '(882) 399-5084'),
 ('73490', '(287) 755-9948'),
 ('63725', '(659) 551-3389'),
 ('96892', '(275) 730-6868'),
 ('22767', '(725) 757-4047'),
 ('77987', '(314) 882-1496'),
 ('43841', '(639) 360-7590'),
 ('40684', '(168) 222-1592'),
 ('03828', '(896) 303-1164'),
 ('50710', '(203) 982-6130'),
 ('66309', '(906) 217-1470'),
 ('67973', '(614) 514-1269'),
 ('71983', '(763) 409-5446'),
 ('79637', '(836) 292-5324'),
 ('06963', '(926) 709-3295'),
 ('07367', '(963) 356-9268'),
 ('68999', '(736) 522-8584'),
 ('73510', '(410) 483-0352'),
 ('53700', '(252) 204-1434'),
 ('48247', '(874) 886-4174'),
 ('12657', '(581) 379-7573'),
 ('56618', '(983) 632-8597'),
 ('28423', '(295) 983-3476'),
 ('97020', '(873) 392-8802'),
 ('93490', '(360) 669-3923'),
 ('62401', '(840) 987-9449'),
 ('05182', '(422) 517-6053'),
 ('87065', '(126) 940-2753'),
 ('92611', '(427) 930-5255'),
 ('88317', '(689) 721-5145'),
 ('36734', '(676) 334-2174'),
 ('70863', '(437) 994-5270'),
 ('19587', '(564) 908-6970'),
 ('07528', '(577) 333-6244'),
 ('48580', '(655) 840-6139')]

In [80]:
FILENAME = r'C:\Users\makka\Desktop\raw.txt'
with open(FILENAME, "r") as file:
    #lines = file.read()
    for line in file:
        line = line.rstrip("\n")
        #print (line)
        s = line.split('}')[-1]
        print (s)

ok: [192.168.1.1] => {
    "OS": "Ubuntu(Core) "

ok: [192.168.1.2] => {
    "OS": "Ubuntu (Core) "

ok: [192.168.1.3] => {
    "OS": "CentOS (Core) "

ok: [192.168.1.3] => {
    "OS":"CentOS (Core) "

ok: [192.168.1.5] => {
    "OS": "Red Hat(Core) "

ok: [192.168.1.6] => {
    "OS": "CentOS (Core) "

In [138]:
f = open(r'C:\Users\makka\Desktop\raw.txt', 'r')
s = f.read()
list1 = s.split('\n')
ip_list = []
os_list = []
for i in list1[::3]:
    ip_list.append(i)
for i in list1[1::3]:
    os_list.append(i)
y = [z[10:25] for z in os_list]
os_l = [x.strip(' ').replace('"','').replace(' ','') for x in y]
ip_l = [z[5:18] for z in ip_list]
ip_l_rep = [x.strip(' ').replace(']','') for x in ip_l]

In [139]:
# my = {}
# for i,j in zip(ip_l_rep,os_l):
#     my[i] = j
#m = {ip_l_rep[n]:os_l[n] for n in range(len(os_l))}

In [140]:
os_l

['Ubuntu(Core)',
 'Ubuntu(Core)',
 'CentOS(Core)',
 'CentOS(Core)',
 'RedHat(Core)',
 'CentOS(Core)']

In [141]:
ip_l_rep

['192.168.1.1',
 '192.168.1.2',
 '192.168.1.3',
 '192.168.1.3',
 '192.168.1.5',
 '192.168.1.6']

In [142]:
m = {ip_l_rep[n]:os_l[n] for n in range(len(os_l))}

In [143]:
m

{'192.168.1.1': 'Ubuntu(Core)',
 '192.168.1.2': 'Ubuntu(Core)',
 '192.168.1.3': 'CentOS(Core)',
 '192.168.1.5': 'RedHat(Core)',
 '192.168.1.6': 'CentOS(Core)'}

In [144]:
{ip_l_rep[n]:os_l[n] for n in range(len(os_l))}

{'192.168.1.1': 'Ubuntu(Core)',
 '192.168.1.2': 'Ubuntu(Core)',
 '192.168.1.3': 'CentOS(Core)',
 '192.168.1.5': 'RedHat(Core)',
 '192.168.1.6': 'CentOS(Core)'}

In [20]:
import string
s = "Salut\n\tComment ca va ?"
t = str.maketrans("\n"," ")
y = str.maketrans("\t"," ")
#z = str.maketrans("\n\t","  ")
s = s.translate(t).translate(y)
s

'Salut  Comment ca va ?'

In [23]:
m = "Salut\n\tComment ca va ?"
' '.join(m.split())

'Salut Comment ca va ?'

In [24]:
m = '''Hello  World \t\n\r\tHi There'''
' '.join(m.split())

'Hello World Hi There'

In [25]:
import re

regex = re.compile(r'(\d*)([A-Za-z ]+)$')
card_list = ["2 Cardname", "3 Cardname Two", "Cardname Three"]
card_dict = {}

for quantity, name in (regex.match(card).groups() for card in card_list):
    if not quantity:
        quantity = 1
    card_dict[name.strip()] = int(quantity)

print(card_dict)

{'Cardname': 2, 'Cardname Two': 3, 'Cardname Three': 1}

In [42]:
import re

string_ = '''192.168.1.1,192.168.1.2/32,192.168.1.5-192.168.1.7,reject,any,
reject,192.168.1.1/32,reject,any,
172.168.1.4-172.168.1.4,reject'''
result = re.findall('\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\/?\d{0,}|[any|reject]+', string_)
print(result)
if result :
    print (True)

['192.168.1.1', '192.168.1.2/32', '192.168.1.5', '192.168.1.7', 'reject', 'any', 'reject', '192.168.1.1/32', 'reject', 'any', '172.168.1.4', '172.168.1.4', 'reject']
True

In [103]:
s = '''
text1
text2
http://url.com/bla1/blah1/text22
text3
'''

In [131]:
g = re.findall(r'^(?!http).*(text\d+)',s, flags=re.MULTILINE)
print ('list',g)
for i in g:
    #print ('elements')
    print (i)

list ['text1', 'text2', 'text3']
text1
text2
text3

In [217]:
s = '''
Output 1: Cisco IOS Software, s2t54 Software (s2t54-ADVIPSERVICESK9-M), Version 15.5(1)SY2, RELEASE SOFTWARE (fc6) ROM: System Bootstrap, Version 12.2(50r)SYS3, RELEASE SOFTWARE (fc1) CPU: MPC8572_E, Version: 2.2, (0x80E80022) CORE: E500, Version: 3.0, (0x80210030) 

Output 2: Cisco IOS Software, IOS-XE Software, Catalyst 4500 L3 Switch Software (cat4500es8-UNIVERSALK9-M), Version 03.08.07.E RELEASE SOFTWARE (fc2) licensed under the GNU General Public License ("GPL") Version 2.0. The software code licensed under GPL Version 2.0 is free software that comes GPL code under the terms of GPL Version 2.0.
'''
re.findall(r'Version\s+([^,\s]+).+', s)
#re.findall(r'Version\s*(.+?)[\s|,]', s)
# Version - matches Version literally

# \s+ - matches one or more of white spaces

# ([^,\s]+) - match one or more characters other from whitespace \s or comma , and store it inside first capturing group

# .+ - match one or more of any characters (except newline), this is to consume rest of the output
#  and prevent from matching multiple versions in one output

['15.5(1)SY2', '03.08.07.E']

In [218]:
m = '''
Name Mak How are you Name non Name anonymouse
Name Mak1 How are you Name non1
Name Mak2 How are you Name non2
'''
re.findall(r'(?m)^Name (\w+)', m)
['Mak', 'Mak1', 'Mak2']

['Mak', 'Mak1', 'Mak2']

In [220]:
print([line.split()[1] for line in m.splitlines() if line.startswith('Name')])

['Mak', 'Mak1', 'Mak2']

In [224]:
re.findall(r'Name\s+([^\s]+).+', m)
# Name - matches Name literally

# \s+ - matches one or more of white spaces

# ([^,\s]+) - match one or more characters other from whitespace \s and store it inside first capturing group

# .+ - match one or more of any characters (except newline)

['Mak', 'Mak1', 'Mak2']

In [1]:
import re
string_ = '''8080,102-2929,any
any,8080-3939,3939'''
bool(re.search('^(?:\d+|any)(?:,(?:\d+|any))*$', string_))

False

In [4]:
string_ = '''8080,102-2929,any
any,8080-3939,,3939'''
rx_line = r'(?:\d+(?:-\d+)?|any)(?:,(?:\d+(?:-\d+)?|any))*'.format(r'(?:\d+(?:-\d+)?|any)')
print(bool(re.search('^(?:\d+(?:-\d+)?|any)(?:,(?:\d+(?:-\d+)?|any))*(?:\r?\n(?:\d+(?:-\d+)?|any)(?:,(?:\d+(?:-\d+)?|any))*)*$'.format(rx_line), string_)))

False

In [44]:
text = '''text1
text2
text3
#text4
text5'''
print(re.search('(?s)\A.*(?=\n#)', text))
#re.search(r'(?sm)\A(.*?)\n.+$', text)
#print(re.search('(?sm)\A(.*?)\n(?=_)', text))

<re.Match object; span=(0, 17), match='text1\ntext2\ntext3'>

In [45]:
seq="ATGCCAGGCTAGCTTATTTAA"
pattern = re.compile(r"(ATG[ACGT]*(TAG|TAA|TGA))")
for match in re.finditer(pattern, seq):
    coding = match.group(1)
    print(coding)

ATGCCAGGCTAGCTTATTTAA

In [76]:
re.findall('(?=(ATG.*(?=(TAA|TAG))))','ATGCCAGGCTAGCTTATTTAA')

[('ATGCCAGGCTAGCTTATT', 'TAA')]

In [75]:
#(?=...) matches if ... matches next, but doesn’t consume any of the string. This is called a lookahead assertion. 
#For example, Isaac (?=Asimov) will match 'Isaac ' only if it’s followed by 'Asimov'.

In [80]:
re.findall('(?=(ATG[ATCG]*(?:T(?:A[AG]|GA))))(ATG[ATCG]*?(?:T(?:A[AG]|GA)))','ATGCCAGGCTAGCTTATTTAA')

[('ATGCCAGGCTAGCTTATTTAA', 'ATGCCAGGCTAG')]

In [96]:
def find_substrings(data, start, end):
    result = []
    s_len = len(start)  # a shortcut for `start` length
    e_len = len(end)  # a shortcut for `end` length
    current_pos = data.find(start)  # find the first occurrence of `start`
    while current_pos != -1:  # loop while we can find `start` in our data
        # find the first occurrence of `end` after the current occurrence of `start`
        end_pos = data.find(end, current_pos + s_len)
        while end_pos != -1:  # loop while we can find `end` after the current `start`
            end_pos += e_len  # just so we include the selected substring
            result.append(data[current_pos:end_pos])  # add the current substring
            end_pos = data.find(end, end_pos)  # find the next `end` after the curr. `start`
        current_pos = data.find(start, current_pos + s_len)  # find the next `start`
    return result
substrings = find_substrings("BBADA", "B", "A")
substrings1 = find_substrings("ATGCCAGGCTAGCTTATTTAA", "ATG", "TAA")
substrings2 = find_substrings("ATGCCAGGCTAGCTTATTTAA", "ATG", "TAG")

print (substrings)

['BBA', 'BBADA', 'BA', 'BADA']

In [104]:
inp = "Hi this is ACT I. SCENE 1 and SCENE 2 and this is ACT II. SCENE 1 and SCENE 2 and more"
parts = re.findall(r'[A-Z]{2,}(?: [A-Z0-9.]+)*|(?![A-Z]{2})\w+(?: (?![A-Z]{2})\w+)*', inp)
print(parts)

['Hi this is', 'ACT I. SCENE 1', 'and', 'SCENE 2', 'and this is', 'ACT II. SCENE 1', 'and', 'SCENE 2', 'and more']

In [118]:
test1 = '''dddf.index.php?test=1&list=UL'''
test2 = '''index.php?L'''

test = re.findall(r'[&?]list=([^&]*)', test1)
test_ = re.findall(r'[&?]list=(.*?)(?=&|$)', test1)

print(test)
print(test_)

['UL']
['UL']

In [136]:
re.match(r'me_start: ([\s\S]{1,}?)(?:end_1|end_2|end3)', 'me_start: cat end_1 dog end_2 ').groups()

('cat ',)

In [142]:
s = "one two 3.4 5,6 seven.eight nine,ten"
re.split('\s|(?<!\d)[,.]|[,.](?!\d)', s)

['one', 'two', '3.4', '5,6', 'seven', 'eight', 'nine', 'ten']

In [146]:
expression = '(1 & 2) & 3'
d = {1: '1', 2: '0', 3: '0'} 

re.sub('(\d+)', lambda x: d[int(x.group(1))], expression)

'(1 & 0) & 0'

In [148]:
s1 = '2019 2019A'
re.findall(r'\d+',s1)

['2019', '2019']

In [150]:
pattern = re.compile(r"(\d{1,4})\D+(\d{1,4})")
print (tuple([ int(x) for x in list(pattern.search('34, 58').groups()) ]))

(34, 58)

In [6]:
s3 = 'ano sre kam'
re.findall('[^aeiou].+',s3)

['no sre kam']

In [7]:
re.findall(r'^(?!a*)',s3)

[]

In [18]:
s4 = 'ano sre kam efg'
re.findall(r'\b[^aeiou]\w+',s4)

[' sre', ' kam', ' efg']

In [25]:
s4 = 'ano sre kam efg'
re.findall(r'\b[^aeiou ]\w+',s4)

['sre', 'kam']

In [32]:
s4 = 'ano sre kam efg'
re.findall(r'\b[^aeiou ]\w+[^aeiou ]\b',s4)

['kam']

In [33]:
s4 = 'ano sre kam efg'
re.findall(r'\b[^aeiou ]\w+[aeiou]\b',s4)

['sre']

In [34]:
s5 = 'aaa'
re.findall(r'aa',s5)

['aa']

In [37]:
s6 = 'carpet and car'
re.findall(r'car|carpet',s6)

['car', 'car']

In [51]:
s6 = 'carpet and car'
re.findall(r'car|carpet',s6)

['car', 'car']

In [55]:
s7 = 'carpet and car'
re.findall(r'car\w*',s7)

['carpet', 'car']

In [61]:
s8 = 'carpet and car'
re.findall(r'car|carpet',s8)

['car', 'car']

In [58]:
s9 = 'carpet and car'
re.findall(r'\bcar\w*\b',s7)

['carpet', 'car']

In [66]:
s10 = 'carpet and car'
re.findall(r'\b(?:car|carpet)\b',s6)

['carpet', 'car']

In [67]:
re.findall(r'car(?:pet)?',s6)

['carpet', 'car']

In [70]:
s11 = 'carpet11 and34 car12 nn'
re.findall(r'\d+',s11)

['11', '34', '12']

In [95]:
re.findall(r'[a-z]+[^0-9]',s11)

['carpet', 'and', 'car', 'nn']

In [99]:
re.findall(r'([a-z]+)\d+',s11)

['carpet', 'and', 'car']

In [100]:
re.findall(r'([a-z]+)(\d+)',s11)

[('carpet', '11'), ('and', '34'), ('car', '12')]

In [101]:
re.findall(r'[a-z]+(\d+)',s11)

['11', '34', '12']

In [116]:
s12 = 'abc a4c 4bc ab4 123'
re.findall(r'^([a-z]+)^\d$',s12)

[]

In [113]:
re.findall(r'\D+',s12)

['abc a', 'c ', 'bc ab', ' ']

In [128]:
s12 = 'abc a4c 4bc ab4 123'
re.findall(r'\d+',s12)

['4', '4', '4', '123']

In [126]:
s12 = 'abc a4c 4bc ab4 123'
re.findall(r'([a-z]+)',s12)

['abc', 'a', 'c', 'bc', 'ab']

In [142]:
s12 = 'abc a4c 456 4bc ab4 123'
re.findall(r'\b([a-z]+)\b',s12)

['abc']

In [145]:
re.findall(r'[^0-9]+',s12)

['abc a', 'c ', ' ', 'bc ab', ' ']

In [150]:
re.findall(r'\b\d+\b',s12)

['456', '123']

In [152]:
for s in ['hello12324', 'hello', 'hello1345252525', 'goodbye']:
      print (s, s[-1].isdigit())

hello12324 True
hello False
hello1345252525 True
goodbye False

In [169]:
s1 = 'First 1234. Second 5678!'

In [170]:
re.findall(r'.+',s1)

['First 1234. Second 5678!']

In [171]:
re.findall(r'.+(\d)+',s1)

['8']

In [172]:
re.findall(r'.+(\d)+[.!]',s1)

['8']

In [207]:
lines = "hello 12 hi 89 33F"
import re
output = []
repl_str = re.compile('^\d+$')
#t = r'\d+.?\d*'
line = lines.split()
for word in line:
        match = re.search(repl_str, word)
        if match:
            output.append(float(match.group(0)))
print (output)

[12.0, 89.0]

In [178]:
print (line)

['hello', '12', 'hi', '89']

In [215]:
re.findall(r'\d+(?!w+)', "hello 12 hi 89 33F AC 777")

['12', '89', '33', '777']

In [224]:
re.findall(r'\b\d+\b', "hello 12 hi 89 33F AC 777")

['12', '89', '777']